.location_area.spring {background-image:url(../img/spring.jpg);}
.location_area.summer {background-image:url(../img/summer.jpg);}
.location_area.autumn {background-image:url(../img/autumn.jpg);}
.location_area.winter {background-image:url(../img/winter.jpg);}

.location_area.mypage {background-image:url(../img/mypage.jpg);}

.location_area.black {background-image:url(../img/black.png);}

